<!doctype html>
<html>
  <head>
    <meta name="google-site-verification" content="QID_pd8MTr-umF8erXN5UjRDs5Y9Zr1y9JekW8V-fr8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>

    <!-- Facebook meta share -->
    <meta property="og:url" content="http://www.ab-web-lille.fr" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Accompagnement Web-marketing" />
    <meta property="og:description" content="Accompagnement web, création et optimisation de sites internet." />
    <meta property="og:image" content="http://www.ab-web-lille.fr/images/ordi-9407728d.jpg" />

  </head>
  <body>
    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>
  </body>
</html>
