<div class="container">
  <div class="realisation-content">
    <h1>Nos réalisations</h1>

    <h2>Stiff Bicycles</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= link_to image_tag("stiff.jpg", class: "img-service"), "https://www.stiffbicycles.com", target: '_blank' %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.</li>
          <li>Création complète du site internet avec le CMS Wordpress et une extension Woo-commerce.</li>
          <li>Optimisation SEO et accompagnement SEA.</li>
        </ul>
      </div>
    </div>

<h2>Easywind</h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= link_to image_tag("easywind.jpg", class: "img-service"), "https://www.easywind.fr", target: '_blank' %>

      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.</li>
          <li>Améliorations de l'expérience client avec une refonte de la page d'accueil. Optimisation du contenu SEO de la globalité du site.</li>
          <li>Mise en place de la stratégie plublicitaire (SEA).</li>
          <li>Création de contenu optimisé via des pages d'aides pour le consommateur. CMS Prestashop.</li>
        </ul>
      </div>
    </div>

  <h2>Bike Your City</h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
               <%= link_to image_tag("byc.jpg", class: "img-service"), "https://www.bikeyourcity.be", target: '_blank' %>

      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.</li>
          <li>Améliorations ergoniomique et optimisation du contenu pour un meilleur référencement naturel.</li>
          <li>Mise en place de la stratégie plublicitaire (SEA).</li>
          <li>Création de contenu optimisé via le blog. CMS Wordpress avec extension woocommerce.</li>
        </ul>
      </div>
    </div>

<h2>La Vie est Belt </h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
                <%= link_to image_tag("lveb.jpg", class: "img-service"), "https://www.lavieestbelt.fr", target: '_blank' %>

      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.
          <li>Création de pages et de contenu pour optimiser le référencement naturel.
          <li>Site internet sous le CMS Prestahsop.
        </ul>
      </div>
    </div>

    <h2>Olli-B environnement</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
                <%= link_to image_tag("ollib.jpg", class: "img-service"), "", target: '_blank' %>

      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site vitrine.
          <li>Création complète du site internet sous Middleman, codé en ruby / html 5.
          <li>Site simple et rapide en navigation. Ergonomie choisie par le client.
        </ul>
      </div>
    </div>

  </div>
</div>



